body{
    background-color: #ffffff;
    font-family: 'poppins', sans-serif;
    color: #071c4d;
}
//Navbar
.navbar-brand{
    img{
        max-height: 50px;
    }
}
.navbar-light{
    .navbar-nav{
        .nav-link{
            color: #071c4d;

        &.active{
            font-weight: bold;
            color: #086796;
        }
        }
    }
}

.btn-admission{
    background-color: #086796;
    color: #fff;

    &:hover{
        background-color: #071c4d;
        color: #fff;
    }
}

//header
header{
    background-color: #F5F6F8;
    color: #071c4d;
}
.bg-header{
    background-color: #071c4d;
    background-size: cover;
    padding: 130px 0px 160px;
    color: #fff;
}
.card-style{
    background-color: #ffffff;
    color: #071c4d;
    margin-top: -70px;
}

// section
.bg-section{
    background-color: #F5F6F8;
}
.mt-custom{
    padding: 50px 0px 0px;
}


//footer
footer{
    background-color: #000;
    color: #fff;
}

